@media (max-width: 992px){

	/* Meet
	==========================*/
	
	.meet__content-box{
		margin-top: 35px;
		display: block;
		text-align: center;
	}

	.meet__content-box :last-child{
		border: none;
	}

	.meet__item{
		padding: 20px 0;
		border-bottom: 1px solid #c1d3d2;
	}




}


@media (max-width: 845px){

	/* Slider
	==========================*/
	
	.slider__title{
		font-size: 38px;
		line-height: 36px;
	}
}

@media (max-width: 360px){

	.meet__img-item{
		width: 260px;
		height: 160px;
	}
}


/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	
	/* Slider
	==========================*/
	
	.slider__title{
		font-size: 30px;
	}

	/* Features
	=========================*/

	.features__title{
	    line-height: 30px;
	}
}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 320px) {

	/* Slider
	==========================*/
	
	.slider__title{
		font-size: 30px;
	}

	/* Features
	=========================*/

	.features__title{
	    line-height: 30px;
	}
}